.exploreCard{
    height: 116px;
    width: 210px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.exploreCard:hover{
    background-color: #dedbdb;
    cursor: pointer;
}
.explore-icon{
    padding: 10px;
    font-size: 30px;
}
.exploreTitle{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}