.sidebarrow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 15px;
    
}
.sidebarrow:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}
.sidebarrow:hover > .siderow_icon{
    color: red;
}
.sidebarrow:hover > .siderow_title{
    font-weight: bold;
}
.sidebarrow::selection{
    background-color: rgb(121, 33, 33);
}
.siderow_title{
    margin-left: 24px;
    font-family: "Roboto", "Noto", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;  
   font-weight: 500; 
  
}
.siderow_icon{
    height: 24px;
    width: 24px;
   
}
.sidebarrow.selected{
    background-color: lightgray;
}
.sidebarrow.selected > .siderow_icon{
    color: red;
}
.sidebarrow.selected > .siderow_title{
    font-weight: bold;
}